.App-logo {
  max-width: 80px;
  margin-right: 10px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 2s;
    animation-fill-mode: forwards;
  }
}

@keyframes App-logo-spin {
  100% {
    transform: scaleX(-1) rotate(-55deg);
  }
}
